includes:
	- phpstan-baseline.neon

parameters:
	level: 8
	paths:
		- src/
	ignoreErrors:
		- identifier: missingType.iterableValue
		- identifier: constant.notFound
		  message: '#Constant CONFIG not found#'
		  reportUnmatched: false
